/* 样式用于侧边栏 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* 样式用于侧边栏链接 */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* 鼠标移动到链接上的样式 */
.sidebar a:hover {
    color: #f1f1f1;
}

/* 按钮样式 */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* 夜间模式 */
@media (prefers-color-scheme: dark) {
    .sidebar {
      background-color: #333333;
    }
    .sidebar a {
      color: #c0c0c0;
    }
    .openbtn {
      background-color: #333333;
      color: white;
    }
  }