@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
@media (min-width: 601px) {
    body {
        background-color: lightgreen;
    }
}
a {
    text-decoration: none;
    color: lightblue;
}
img {
    max-width: 50%;
    height: 50%;
}
.power {
    text-decoration: none;
    padding-left: 50%;
    
}
/* 样式用于侧边栏 */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* 样式用于侧边栏链接 */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* 鼠标移动到链接上的样式 */
.sidebar a:hover {
    color: #f1f1f1;
}

/* 按钮样式 */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}