/* 保存为 styles.css */
body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
  background-image: url('11059.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input#serverAddress {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80vw; /* 视口宽度的80% */
  max-width: 250px; /* 最大宽度 */
  box-sizing: border-box; /* 让内边距和边框包含在宽度内 */
}

button#fetchStatus {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  width: 30vw; /* 视口宽度的30% */
  max-width: 120px; /* 最大宽度 */
  box-sizing: border-box; /* 让内边距和边框包含在宽度内 */
}

button#fetchStatus:hover {
  background-color: #4cae4c;
}

div#response {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80vw; /* 视口宽度的80% */
  max-width: 300px; /* 最大宽度 */
  height: 150px;
  overflow-y: auto;
  background: white;
  box-sizing: border-box; /* 让内边距和边框包含在宽度内 */
}

div#elapsedTime {
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
}